name: Unit tests
on:
  push:
    branches:
      - master
  pull_request:
env:
  FORCE_COLOR: 1
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ^1.20
      - name: Install earthly
        uses: Luet-lab/luet-install-action@v1
        with:
          repository: quay.io/kairos/packages
          packages: utils/earthly
      - name: Run Build
        run: |
          earthly +dist
      - name: Run tests
        run: |
          earthly +test
      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.out
