name: WebUI tests
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ci-webui-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true

jobs:
  webui:
    strategy:
      matrix:
        go-version: [ "1.21-bookworm", "1.22-bookworm" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install earthly
        uses: Luet-lab/luet-install-action@v1
        with:
          repository: quay.io/kairos/packages
          packages: utils/earthly
      - name: WebUI tests
        run: earthly +webui-tests --GO_VERSION=${{ matrix.go-version }}
